html {
background-color: yellow;
}


body {
font-family: Arial, Helvetica, sans-serif;
font-size: 100%;
width: 650px;
margin: 20px auto;
background-color: white;
border: 6px double blue;
padding: 20px;
}


h1 {
font-size: 28px;
color: blue;
margin-bottom: 10px;
}


h2 {
font-size: 20px;
margin: 25px 0 10px 0;
}


h3 {
font-size: 18px;
margin-bottom: 20px;
}


p {
margin: 10px 0;
}


.right {
text-align: right;
}


blockquote {
margin: 15px 30px;
}


ul {
margin: 10px 0 20px 40px;
}


li {
margin-bottom: 5px;
}


cite {
color: blue;
font-style: normal;
}


img {
float: left;
margin: 0 20px 15px 0;
}


footer {
border-top: 3px solid blue;
margin-top: 20px;
padding: 15px 0;
}


footer p {
text-align: center;
font-size: 15px;
font-weight: bold;
margin: 5px 0;
}